html, body {
    width: 100%;
    height: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}


.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

#map {
    width: 100%;
    height: 80vh;
}

.hotels-list-table {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 80vh;
}

.context_menu {
    background-color: white;
    border: 1px solid gray;
}

.context_menu_item {
    padding: 3px 6px;
}

    .context_menu_item:hover {
        background-color: #CCCCCC;
    }

.context_menu_separator {
    background-color: gray;
    height: 1px;
    margin: 0;
    padding: 0;
}

.row-padding {
    padding-top: 20px;
}

.scrollFix {
    line-height: 1.35;
    overflow: hidden;
    white-space: nowrap;
}

.commentBox {
    background-color:#efefef;
    padding:10px;
    border-radius:10px;
}

button[class*="star"] {
    min-width:32px;
    min-height:30px;
    display:inline-block;
    cursor:pointer;
    background-color: transparent;
}

.starOutline{
    background-image:url("Images/star-outline.png");
    
}

.starYellow{
    background-image:url("Images/star-yellow.png");
}

.starHalf{
    background-image:url("Images/star-half.png");
}

button.clearButton:hover,
button.clearButton:focus,
button.clearButton:active ,
button.clearButton {
    padding: 0px;
    margin: 0px;
    border: none;
    outline: none;
}

.rating {
    display: inline-block;
    width: 180px;
}

.hidden-item {
    display: none;
}

visible-item {
    display: inherit;
}